{% extends "base.html" %}

{% block title %}RSVP Received - Max & Wendy{% endblock %}

{% block content %}

<div class="content">
    <section class="section" style="padding-top:3rem;">
        <h1 class="section-title" style="font-size:2.75rem;">Schedule</h1>
    </section>

    <!-- Schedule -->
    <section class="section" id="schedule">
        <h2 class="section-title">The Day #TODO date/here/202x</h2>
        <div class="schedule-list">

            <div class="schedule-item">
                <span class="schedule-time">4:00 pm</span>
                <div>
                    <div class="schedule-event">Ceremony</div>
                    <div class="schedule-detail">[Venue name], [Address]</div>
                </div>
            </div>

            <div class="schedule-item">
                <span class="schedule-time">4:30 pm</span>
                <div>
                    <div class="schedule-event">Dranks</div>
                    <div class="schedule-detail">Bemingl't.</div>
                </div>
            </div>

            <div class="schedule-item">
                <span class="schedule-time">6:00 pm</span>
                <div>
                    <div class="schedule-event">Dinner & Dancing</div>
                    <div class="schedule-detail">
                        asldasiudadbkjnsadkas
                    </div>
                </div>
            </div>
            <br>
            Some kind of post or pre brunch. Events? Things to do.
        </div>
    </section>

</div>

{% endblock %}